/* Reset some basic elements */
body, html {
  height: 100%;
  margin: 0;
  background-color: #f2f2f2 ;
}

/* Estilo do cabeçalho */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #24292e; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  padding: 10px 20px; /* Espaçamento interno do cabeçalho */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  max-width: 160px; /* Tamanho máximo do logo */
}

.header nav a {
  color: #fff; /* Cor do texto dos links */
  text-decoration: none;
  margin-left: 20px;
}

/* Estilo do conteúdo principal */
.main-content {
  padding-top: 56px;
  overflow-y: auto;
  height: calc(100% - 120px);
}

/* Estilo do rodapé */
.footer {
  background-color: #24292e;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
