.search-bar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  input {
    border: 2px solid #dee2e6;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  button {
    background-color: #272c31;
    border: none;
    &:hover {
      background-color: #272c31;
    }
  }
}

.card-custom {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .card-title {
    color: #333;
  }

  .btn-primary {
    background-color: #272c31;
    &:hover {
      background-color: darken(#272c31, 10%);
    }
  }
}
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

.card-img-top {
  width: 100%;
  height: auto;
}

.btn-add-to-db {
  background-color: #4caf50; /* Cor de fundo verde para destacar */
  color: white; /* Texto branco para contraste */
  font-weight: bold; /* Texto em negrito para chamar a atenção */
  margin-top: 10px; /* Espaço acima do botão */
  border-radius: 5px; /* Bordas levemente arredondadas para um look moderno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidade */
  transition: background-color 0.3s, transform 0.3s; /* Transição suave para efeitos de hover */
}

.btn-add-to-db:hover,
.btn-add-to-db:focus {
  background-color: #45a049; /* Cor mais escura no hover para feedback */
  transform: translateY(
    -2px
  ); /* Levanta ligeiramente o botão para um efeito dinâmico */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra maior para destaque */
}

@media (max-width: 768px) {
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .btn-add-to-db {
    font-size: smaller; /* Tamanho de fonte menor para dispositivos menores */
  }

  .btn {
    width: 100%;
  }

  .content {
    padding-top: 56px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
  }

  .header-fixed,
  .footer-fixed {
    position: static;
  }
}
@media (max-width: 576px) {
  .btn {
    width: 100%;
  }
}
