.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1080;
}

.toast {
  min-width: 250px;
}

.toast-header {
  background-color: #24292e;
  color: #fff;
}

.toast-body {
  background-color: #f8f9fa;
}
