<header class="header">
  <a href="/"><img src="assets/header-logo.png" alt="ONERpm Logo"></a>
  <nav>
    <!-- Somente se não estive autenticado -->
    <a *ngIf="!(isLoggedIn$ | async)" href="/login">CONECTE-SE</a>
    <a *ngIf="!(isLoggedIn$ | async)" href="/register">INSCREVA-SE</a>

    <!-- Somente se estive autenticado -->
    <a *ngIf="isLoggedIn$ | async" href="/admin">Painel</a>
    <a *ngIf="isLoggedIn$ | async" href="#" (click)="logout()">Log Out</a>
  </nav>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>© 2024 ONERpm. All rights reserved.</p>
</footer>
